<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="8bfe1481-6eea-4403-b309-9aabc38ec614" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>
  <script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("8bfe1481-6eea-4403-b309-9aabc38ec614",
  [{"type":
    "scatter3d",
    "x": {{ x|safe }},
    "y": {{ y|safe }},
    "z": {{ z|safe }},
    "mode": "markers",
    "marker":
      {"size": 5, "color": {{ c|safe }},
      "colorscale": "Portland",
      "opacity": 0.5}}],
      {"margin": {"l": 0, "r": 0, "b": 0, "t": 0}},
      {"showLink": false, "linkText": "Export to plot.ly"})
  </script>
