<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Purple Briefcase Job Recommender</title>

  <meta name="description" content="The Purple Briefcase Job Recommender">
  <meta name="author" content="Dan Edstrom">


  <link rel="stylesheet" type="text/css" href="../static/semantic-ui/dist/semantic.min.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../static/semantic-ui/dist/semantic.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/semantic-ui/dist/components/accordion.css">
  <script type="text/javascript" src="../static/semantic-ui/dist/components/accordion.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script type="text/javascript" src="../static/predict.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/predict.css">

</head>

<body>
  <div class="ui fixed  menu">
    <div class="ui container">
      <a href="/" class="header item">
        <!-- <img class="logo" src="assets/images/logo.png"> -->
        The Purple Briefcase Job Recommender
      </a>
      <a href="/submit" class="item">New Search</a>

    </div>
  </div>

  <div class="ui main container grid">
    <div class="sixteen wide column">

      <h1 class="ui dividing header">Dan Edstrom</h1>
      <h2 class="ui medium header">
        Data Scientist, Ruffalo Noel Levitz
      </h2>

      <div class="ui divider"></div>

      <div class="ui three column stackable grid">
        <img class="wireframe" src="../static/images/Edstrom_Headshot.jpg" height="220" width="250"/>
        <div class="column">
          <div class="ui card">
            <div class="content">
              <div class="header">Contact Me</div>
            </div>
            <div class="extra content">
              <i class="linkedin square icon"></i>
              <a href="https://www.linkedin.com/in/danedstrom/">LinkedIn</a>
            </div>
            <div class="extra content">
              <i class="github square icon"></i>
              <a href="https://github.com/dedstrom611">Github</a>
            </div>
          <div class="extra content">
            <i class="mail icon"></i>
            <a href="mailto:dedstrom611@gmail.com">Email</a>
          </div>
          </div>
          </div>
        </div>
  </div>
</body>
</html>
