<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Purple Briefcase Job Recommender</title>

  <meta name="description" content="The Purple Briefcase Job Recommender">
  <meta name="author" content="Dan Edstrom">


  <link rel="stylesheet" type="text/css" href="../static/semantic-ui/dist/semantic.min.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../static/semantic-ui/dist/semantic.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/semantic-ui/dist/components/accordion.css">
  <script type="text/javascript" src="../static/semantic-ui/dist/components/accordion.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script type="text/javascript" src="../static/predict.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/predict.css">

</head>

<body>
  <div class="ui fixed  menu">
    <div class="ui container">
      <a href="/submit" class="header item">
        <!-- <img class="logo" src="assets/images/logo.png"> -->
        The Purple Briefcase Job Recommender
      </a>
      <a href="/submit" class="item">New Search</a>

      <!-- Sample Dropdown menu in case there are other aspects of your capstone project that fit, otherwise feel free to delete this block out -->

      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
      <!-- end of sample dropdown -->
    </div>
  </div>

  <div class="ui main container grid">
    <div class="sixteen wide column">

      <h1 class="ui dividing header">Jobs Similar to Your Submitted Job:</h1>
      <h2 class="ui medium header">
        Your Job Title
      </h2>
      <span>{{ job }}</span>
      <h2 class="ui medium header">
        Similar Jobs
      </h2>

      <div class="ui divider"></div>

      <div class="ui three column stackable grid">
        {% for job_detail in details[1:] %}
        <div class="column">
          <div class="ui card">
            <div class="content">
              <div class="header">{{ job_detail['jobTitle'] }}</div>
            </div>
            <div class="content">
              <h4 class="ui sub header">Description</h4>
                {{ job_detail['jobDescription'][:140] + '...' }}
              <h4 class="ui sub header">Required Majors</h4>
            </div>
            <div class="extra content">
              <span class="right floated">
                <i class="right floated world icon"></i>
                {{ job_detail['jobLocation'] + ' ' }}
                {% if job_detail['jobState'] is not none %}
                  {{ ', ' + job_detail['jobState'] + ' '}}
                {% else %}

                {%endif %}
              </span>
            </div>



            <div class="ui bottom attached button">
              <i class="info circle icon"></i>
              <a href="http://www.purplebriefcase.com/">More Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
  </div>
</body>
</html>
