<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Purple Briefcase Job Recommender</title>

  <meta name="description" content="The Purple Briefcase Job Recommender">
  <meta name="author" content="Dan Edstrom">


  <link rel="stylesheet" type="text/css" href="../static/semantic-ui/dist/semantic.min.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="../static/semantic-ui/dist/semantic.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/semantic-ui/dist/components/dropdown.css">
  <script type="text/javascript" src="../static/semantic-ui/dist/components/dropdown.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/style.css">

  <!-- {{ url_for('static', filename='submit.css') }} -->
  <link rel="stylesheet" type="text/css" href="../static/submit.css">
  <script type="text/javascript" src="../static/submit.js"></script>

</head>

<script charset="utf-8" type="text/javascript">
$(function() {
  var dropdown = {
    states: $('#select_states'),
    job_title: $('#select_title')
  };

  function getSelectValues(select) {
    var result = [];
    var options = select && select.options;
    var opt;

    for (var i=0, iLen=options.length; i<iLen; i++) {
      opt = options[i];

      if (opt.selected) {
        result.push(opt.value || opt.text);
      }
    }
    return result;
  }
  // function to call XHR and update goodsrec dropdown
  function UpdateJobTitles() {
    var states = dropdown.states.val();
    dropdown.job_title.attr('disabled', 'disabled');
    console.log(states);
    // if (states.length) {
    dropdown.job_title.empty();
    $.getJSON("{{ url_for('get_jobs_in_selected_states') }}", {states: states.join()}, function(data) {
      console.log(data);
      data.forEach(function(item) {
        dropdown.job_title.append(
          $('<option>', {
            // style: df['colors'].iloc[item.id]
            // class: item.color,
            value: item.id,
            text: item.title
          })
        );
      });
      dropdown.job_title.removeAttr('disabled');
    });
  }
  UpdateJobTitles();

  // event listener to customer dropdown change
  dropdown.states.on('change', function() {
    UpdateJobTitles();
  });

});
</script>

<body>
  <div class="ui fixed  menu">
    <div class="ui container">
      <a href="/" class="header item">
        <!-- <img class="logo" src="assets/images/logo.png"> -->
        The Purple Briefcase Job Recommender
      </a>
      <a href="/submit" class="item">New Search</a>

    </div>
  </div>

  <div class="ui main container one column grid">

    <div class="row">
      <h1 class="ui dividing header">Get Recommendations</h1>
    </div>
    <form action="/predict" method='POST' class="ui form">
      <div class="row">
        <div class="field six wide column">
          <label>Only want to work in certain states?  Choose your states below.</label>
          <!-- Start filtered dropdown list - This could be used to filter the dropdown based on job category! -->
          <select id="select_states" multiple="" name="states" class="ui fluid dropdown">
            <option value="">State</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
          <!-- End filtered dropdown list -->
        </div>
      </div>

      <br/>
      <div class="row">

        <div class="field ten wide column">
          <label>Select a job that interests you. Then, click the Similar Jobs button to get recommendations.</label>
          <select id="select_title" type="text" name="job_title" placeholder="Job Title" class="ui fluid search dropdown">
            <!-- {% for jobid, job in full_job_list %}
            <option value='{{ jobid }}'>{{ job }}</option>
            {% endfor %} -->
          </select>
        </div>
      </div>

      <br/>
      <button class="ui primary button" type="submit">Similar Jobs</button>
      <div class="ui error message"><ul class="list"><li>Special Field must have a value</li></ul></div>
    </form>

  </div>
</body>
</html>
